/*
Dans mon-scss.scss et dans  mon-scss-module.scss et ses modules

    * Créer la classe 'site-title' qui va reproduire le h1
    * Une classe alert qui défini un style commun à tous les éléments de type alert et les classes a ajouter : 
        alert-primary (bleu)
        alert-warning (orange) 
        et alert-danger (rouge) 
    qui définissent un thème de couleur pour chaque alert
    * Une variation de la taille du h1 (et donc du site-title) selon le viewport
*/
@use "sass:map";
@use "sass:math";
@import "./modules/variables";
@import "./modules/maps";
@import "./modules/mixins";
@import "./modules/root";
@import "./modules/reboot";
@import "./modules/classes";
@import "./modules/structure";

/* Scss principal */

@each $breakpoint, $value in $breakpoints{
    @media screen and (min-width: #{$value}){
        /* #{$breakpoint} #{$value} #{map.get($bp-max-width, $breakpoint)} */
        .container{
            max-width: #{map.get($bp-max-width, $breakpoint)};
        }
        @if $breakpoint == 'md'{
            h1, .h1, .site-title{
                font-size: calc($font-size-general * 2.2);
            }
        }
        @if $breakpoint == 'lg' {
            body main{
                > section{
                    > *:not(header){
                        width: 50%;
                    }
                }
            }
        }
        @if $breakpoint == 'xxl' {
            h1, .h1, .site-title{
                font-size: calc($font-size-general * 2.5);
            }
            body main{
                > section{
                    > *:not(header){
                        width: 32%;
                    }
                }
            }
        }
    }
}