$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px,
);

$bp-max-width: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    xxxl: 1560px,
);

$font-sizes: (
   h1: $h1-size,
   h2: $h2-size,
   h3: $h3-size,
   h4: $h4-size,
   h5: $h5-size,
   h6: $h6-size,
);