// couleurs
$black-color: #333;
$white-color: #fff;
$code-color: #d63384;
$body-background: #f4f5f0;

// corps des pages
$body-font: Arial, Helvetica, Geneva, Tahoma, sans-serif;
$body-color: $black-color;
$font-size-general: 1.2rem;

// goutières et marges
$x-gutter : 0.5rem;
$y-gutter : 0.5rem;

// listes
$liste-test: 100px, 200px;