@import "tailwindcss";
/*@import url('../LazenbyCompSmooth.css');*/
@import url('../roboto.css');
/* import des composants */
@import './components/columns.css';
@import './components/buttons.css';
@import './LazenbyCompSmooth.css';

@theme{
    --font-sans: 'roboto';
    --font-serif: 'Times New Roman';
    --font-mono: 'Courier New';
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.site-title{
    font-family: 'LazenbyCompSmooth';
}